section:not(.sec_1, .sec_4, .banner){
    padding: 200px 200px;
    height: 100vh;
}

h2{
    font-weight: 900;
    font-size: 220px;
    line-height: 264px;
    letter-spacing: -0.1em;
}

h3{
    font-weight: 700;
    font-size: 58px;
    letter-spacing: -0.05em;
}

h4{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -0.05em;
}

h5{
    font-weight: 500;
    font-size: 22px;
    letter-spacing: -0.05em;
}

h6{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.05em;
}

