section:not(.sec_1, .banner, .sec_3){
    padding: 200px 200px;
    height: 100vh;
}

@media screen and (max-width: 1450px){
    section:not(.sec_1, .banner, .sec_3){
        padding: 50px 20px;
        height: auto;
    }

}

h2{
    font-weight: 900;
    font-size: 220px;
    line-height: 264px;
    letter-spacing: -0.1em;
}

@media screen and (max-width: 1450px){
    h2{
        font-weight: 900;
        font-size: 90px;
    }

}

h3{
    font-weight: 700;
    font-size: 58px;
    letter-spacing: -0.05em;
}

@media screen and (max-width: 1450px){
    h3{
        font-size: 30px;
    }
}

h4{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -0.05em;
}

@media screen and (max-width: 1420px){
    h4{
        font-size: 24px;
    }
}

h5{
    font-weight: 500;
    font-size: 22px;
    letter-spacing: -0.05em;
}

@media screen and (max-width: 1420px){
    h5{
        font-size: 18px;
    }
}

h6{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.05em;
}

/* /font set end */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

