@import url(reset.css);
@import url(common.css);

header{
    padding: 10px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 50;
}

.menu_wrap{
    display: flex;
    gap: 40px;
}

.menu a{
    font-size: 16px;
    letter-spacing: -0.05em;
}

.line_h{
    width: 100%;
    height: 2px;
    background-color: #1d1d1d5d;
    border-radius: 20px;
    transform: scale(0);
    transition: 0.5s;
}

.menu:hover .line_h{
    transform: scale(1);
}

.side_menu{
    display: flex;
    gap: 20px;
    align-items: center;
}

.login{
   opacity: 0.5;
   transition: 0.5s;
}

.search{
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
}

.lang{
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
}

.login:hover,
.search:hover,
.lang:hover{
    opacity: 1;
}

/* header_end */

.sec_1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sec_1 .swiper .swiper-pagination-bullet {
    width: 20px;
    height: 10px;
    border-radius: 30px;
    background: #dcdcdc;
}

.sec_1 .swiper .swiper-pagination-bullet-active {
    background: #ffffff;
}

.sec_1 .swiper .swiper-pagination-bullets {
    margin-bottom: 100px;
}

.wikino{
    position: absolute;
    top: 20%;
    left: 200px;
    z-index: 50;
}

.seoul{
    position: absolute;
    bottom: 30%;
    right: 200px;
    z-index: 50;
}

/* sec_1 end */

.sec_2{
    margin-top: 100vh;
}

.title_wrap_2{
    text-align: center;
}

.con_wrap_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
}

.con_2{
    width: 33%;
    position: relative;
}

.hover_con_2{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(29, 29, 29, 0.15);
    backdrop-filter: blur(4px);
    border-radius: 30px;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
    transition-timing-function:ease-in-out;
}

.hover_text_2{
    color: #ffffff;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    transition: 0.5s;
}

.hover_con_2:hover{
    opacity: 1;
}

.hover_con_2:hover .hover_text_2{
    transform: translate(-50%, -50%) scale(1);
}

/* sec_2 end */


.banner {
    margin-top: 100px;
    width: 100%;
    overflow: hidden;
    background: #1d1d1d; 
    padding: 40px 0;
}

.banner_wrap {
    display: flex;
    align-items: center;
    gap: 80px;
    animation-name: banner;
    animation-duration: 15s;
    animation-iteration-count: infinite;

}

.banner_wrap img {
    height: 60px;
}

@keyframes banner {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-30%);
    }
}

/* banner end */

.con_wrap_3{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.con_3{
    position: relative;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #ededed;
}

.text_con_3{
    border: 0px;
}

.text_con_3 h3{
    font-size: clamp(24px, 3.5vw, 64px);
    border: 0px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.hover_con_3{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(29, 29, 29, 0.15);
    backdrop-filter: blur(4px);
    transition-timing-function:ease-in-out;
    border-radius: 20px;
    opacity: 0;
    transition: 0.5s;
}

.hover_con_3 h4{
    color: #ffffff;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    transition: 0.5s;
}

.hover_con_3:hover{
    opacity: 1;
}
.hover_con_3:hover h4{
    transform: translate(-50%, -50%) scale(1);
}

/* sec_3 end */

