@import url(reset.css);
@import url(common.css);

header{
    padding: 10px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 50;
}

.menu_wrap{
    display: flex;
    gap: 40px;
}

.menu a{
    font-size: 16px;
    letter-spacing: -0.05em;
}

.line_h{
    width: 100%;
    height: 2px;
    background-color: #1d1d1d5d;
    border-radius: 20px;
    transform: scale(0);
    transition: 0.5s;
}

.menu:hover .line_h{
    transform: scale(1);
}

.side_menu{
    display: flex;
    gap: 20px;
    align-items: center;
}

.login{
   opacity: 0.5;
   transition: 0.5s;
}

.search{
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
}

.lang{
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
}

.login:hover,
.search:hover,
.lang:hover{
    opacity: 1;
}

/* header_end */

.sec_1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sec_1 .swiper .swiper-pagination-bullet {
    width: 20px;
    height: 10px;
    border-radius: 30px;
    background: #dcdcdc;
}

.sec_1 .swiper .swiper-pagination-bullet-active {
    background: #ffffff;
}

.sec_1 .swiper .swiper-pagination-bullets {
    margin-bottom: 100px;
}

.wikino{
    position: absolute;
    top: 20%;
    left: 200px;
    z-index: 50;
}

.seoul{
    position: absolute;
    bottom: 30%;
    right: 200px;
    z-index: 50;
}

/* sec_1 end */

.sec_2{
    margin-top: 100vh;
}

.title_wrap_2{
    text-align: center;
}

.con_wrap_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
}

.con_2{
    width: 33%;
    position: relative;
}

.hover_con_2{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(29, 29, 29, 0.15);
    backdrop-filter: blur(4px);
    border-radius: 30px;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
    transition-timing-function:ease-in-out;
}

.hover_text_2{
    color: #ffffff;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    transition: 0.5s;
}

.hover_con_2:hover{
    opacity: 1;
}

.hover_con_2:hover .hover_text_2{
    transform: translate(-50%, -50%) scale(1);
}

/* sec_2 end */


.banner {
    margin-top: 100px;
    width: 100%;
    overflow: hidden;
    background: #1d1d1d; 
    padding: 40px 0;
}

.banner_wrap {
    display: flex;
    align-items: center;
    gap: 80px;
    animation-name: banner;
    animation-duration: 15s;
    animation-iteration-count: infinite;

}

.banner_wrap img {
    height: 60px;
}

@keyframes banner {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-30%);
    }
}

/* banner end */

.con_wrap_3{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.con_3{
    position: relative;
    text-align: center;
    border-radius: 30px;
    border: 1px solid #ededed;
}

.text_con_3{
    border: 0px;
}

.text_con_3 h3{
    font-size: clamp(24px, 3.5vw, 64px);
    border: 0px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.hover_con_3{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(29, 29, 29, 0.15);
    backdrop-filter: blur(4px);
    transition-timing-function:ease-in-out;
    border-radius: 30px;
    opacity: 0;
    transition: 0.5s;
}

.hover_con_3 h4{
    color: #ffffff;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    transition: 0.5s;
}

.hover_con_3:hover{
    opacity: 1;
}
.hover_con_3:hover h4{
    transform: translate(-50%, -50%) scale(1);
}

/* sec_3 end */

.sec_4{
    margin-top: 300px;
    background: url(../img/sec_4/accessories.png) no-repeat center / cover;
}

.title_wrap_4{
    margin-top: 40px;
    text-align: center;
}

.title_wrap_4 h5{
    color: #1d1d1dc4;
    margin-top: 50px;
    letter-spacing: 0px;
}

.sec_4_point{
    font-weight: 700;
    color: #1d1d1d;
}

.btn a{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.arrow{
    margin-top: 3px;
    width: 33px;
    height: 33px;
    background-color: #1d1d1d;
    border-radius: 50%;
    padding-top: 3px;
    padding-left: 2px;
}

.btn h6{
    opacity: 0.7;
    transition: 0.5s;
    font-size: 22px;
}

.btn:hover h6{
    opacity: 1;
}
/* sec_4 end */

.title_wrap_5{
    text-align: center;
    margin-bottom: 50px;
}

.con_wrap_5{
    display: flex;
    gap: 30px;
}

.con_5{
    position: relative;
    text-align: center;
    border-radius: 30px;
}

.hover_con_5{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(29, 29, 29, 0.15);
    backdrop-filter: blur(4px);
    transition-timing-function:ease-in-out;
    border-radius: 30px;
    opacity: 0;
    transition: 0.5s;
}

.hover_con_5 h4{
    color: #ffffff;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    transition: 0.5s;
}

.hover_con_5:hover{
    opacity: 1;
}
.hover_con_5:hover h4{
    transform: translate(-50%, -50%) scale(1);
}
/* sec_5 end */

.sec_6{
    position: relative;
}

.title_wrap_6 {
    width: 100%;
    text-align: center;
}

.title_wrap_6 h2{
    font-size: 380px;
    line-height: 350px;
    letter-spacing: -0.08em;
}

.con_wrap_6{
    display: flex;
}

.con_6{
    width: 300px;
}

.left_6{
    position: absolute;
    top: 50%;
    left: 36%;
    z-index: 30;
    box-shadow: 10px 15px 20px 5px rgba(0, 0, 0, 0.1);
    transform: rotate(-15.22deg);
    transition: 0.5s;
}

.right_6{
    position: absolute;
    top: 58%;
    right: 36%;
    box-shadow: 10px 15px 20px 5px rgba(0, 0, 0, 0.1);
    transform: rotate(13.33deg);
    transition: 0.5s;
}

.left_6:hover{
    left: 40%;
    transform: rotate(0deg);
}
.right_6:hover{
    right: 40%;
    z-index: 40;
    transform: rotate(0deg);
}

.sec_6 .arrow{
    margin-top: 3px;
    width: 33px;
    height: 33px;
    background-color: #1d1d1d;
    border-radius: 50%;
    padding-top: 4px;
    padding-left: 14px;
}

.sec_6 .btn{
    margin-top: 120px;
}
/* sec_6 end */

footer{
    position: relative;
    margin-top: 300px;
    padding: 100px 200px;
    background-color: #1d1d1d;
}

.top_f{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.left_f{
    display: flex;
}

.left_f a{
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;
    margin-right: 50px;
}

.right_f a{
    margin-left: 50px;
}

.info{
    color: #ffffff;
    opacity: 0.78;
    font-size: 14px;
    line-height: 35px;
    font-weight: 100;
}

.data{
    margin-top: 50px;
    display: flex;
    gap: 50px;
}

.data a{
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
}

.logo_f{
    width: 700px;
    position: absolute;
    right: 198px;
    bottom: 100px;
}
/* footer end */

